-- SQL Migration for Quarter and QuarterMetrics
-- Version: V20260321_1200
-- Datetime: 2026-03-21 12:00

CREATE TABLE IF NOT EXISTS quarters (
    quarter_id UUID PRIMARY KEY,
    user_id UUID NOT NULL,
    period_start DATE NOT NULL,
    period_end DATE NOT NULL,
    quarter_label VARCHAR(50) NOT NULL,
    status VARCHAR(20) NOT NULL CHECK (status IN ("open", "ready", "exported")),
    last_exported_at TIMESTAMP WITH TIME ZONE NULL
);

CREATE TABLE IF NOT EXISTS quarter_metrics (
    quarter_metrics_id UUID PRIMARY KEY,
    quarter_id UUID NOT NULL REFERENCES quarters(quarter_id),
    total_txns_in_period INTEGER NOT NULL,
    blocking_txns_count INTEGER NOT NULL,
    readiness_pct INTEGER NOT NULL CHECK (readiness_pct BETWEEN 0 AND 100),
    blocking_queue JSONB NOT NULL,
    computed_at TIMESTAMP WITH TIME ZONE NOT NULL
);

CREATE INDEX IF NOT EXISTS idx_quarters_user_id ON quarters(user_id);
CREATE INDEX IF NOT EXISTS idx_quarter_metrics_quarter_id ON quarter_metrics(quarter_id);

