-- Transaction Classification and Audit Trail Migration [V20260321_1000]
-- Persists classification state and edit history for bank transactions.

CREATE TABLE IF NOT EXISTS transaction_classification (
    classification_id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    txn_id UUID NOT NULL UNIQUE REFERENCES bank_transactions(txn_id) ON DELETE CASCADE,
    category_code TEXT,
    category_name TEXT,
    business_personal TEXT CHECK (business_personal IN (
BUSINESS, PERSONAL)),
    is_split BOOLEAN NOT NULL DEFAULT FALSE,
    split_business_pct INTEGER CHECK (split_business_pct >= 0 AND split_business_pct <= 100),
    confidence NUMERIC(3,2) NOT NULL DEFAULT 0.0 CHECK (confidence >= 0.0 AND confidence <= 1.0),
    applied_by TEXT NOT NULL DEFAULT "import", -- user, rule, import, or voice
    review_required BOOLEAN NOT NULL DEFAULT TRUE,
    duplicate_of_txn_id UUID REFERENCES bank_transactions(txn_id) ON DELETE SET NULL,
    duplicate_resolution TEXT CHECK (duplicate_resolution IN ("NONE", "DISMISSED", "MERGED")) NOT NULL DEFAULT "NONE",
    created_at TIMESTAMPTZ NOT NULL DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMPTZ NOT NULL DEFAULT CURRENT_TIMESTAMP
);

CREATE INDEX IF NOT EXISTS idx_transaction_classification_txn_id ON transaction_classification(txn_id);
CREATE INDEX IF NOT EXISTS idx_transaction_classification_category ON transaction_classification(category_code);
CREATE INDEX IF NOT EXISTS idx_transaction_classification_duplicate ON transaction_classification(duplicate_of_txn_id);

CREATE TABLE IF NOT EXISTS transaction_classification_audit (
    audit_id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    classification_id UUID NOT NULL REFERENCES transaction_classification(classification_id) ON DELETE CASCADE,
    field_name TEXT NOT NULL,
    previous_value JSONB,
    new_value JSONB,
    changed_by TEXT NOT NULL,
    changed_at TIMESTAMPTZ NOT NULL DEFAULT CURRENT_TIMESTAMP
);

CREATE INDEX IF NOT EXISTS idx_transaction_classification_audit_classification_id
    ON transaction_classification_audit(classification_id, changed_at DESC);    

-- Trigger to update updated_at timestamp
CREATE OR REPLACE FUNCTION update_updated_at_column()
RETURNS TRIGGER AS $$
BEGIN
    NEW.updated_at = CURRENT_TIMESTAMP;
    RETURN NEW;
END;
$$ language "plpgsql";

CREATE TRIGGER trg_transaction_classification_updated_at
    BEFORE UPDATE ON transaction_classification
    FOR EACH ROW
    EXECUTE FUNCTION update_updated_at_column();
